.contact {
    color:white;
    display: flex;
    font-family: "Source Code Pro", monospace;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 150px;
}

.contact > h1 {
    text-align: left;
    color: #1CE783;
    font-size:22px;
    margin:0;
    padding: 0;
}


.contact > h2 {
    font-size: clamp(40px, 5vw, 60px);
    margin:20px 0;
    padding: 0;
}


.contact > p {
    font-size: 16px;
    color: white;
    width: 50%;
    text-align: center;
  }


.contact > a{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
    padding:10px 20px;
    color: white;
    border:2px solid #1CE783;
    border-radius: 8px;
    text-decoration: none;
}

.contact > a >  .MuiSvgIcon-root {
    margin-right: 10px;
}


.contact > a:hover{
    color:#000;
    font-weight: 600;
    background-color: #aeffd6;
}