.home{  
    font-family: 'Source Code Pro', monospace;
    padding: 12vh 0;
    display:block;
    text-align: center;
}

.home > h1{
    color:White;
    font-size: 20px;
    color:#1CE783;
}

.home > h2{
    color:White;
    font-size: 60px;
    color:#CCD6F6;
    margin:70px 0;
}

.home > h3{
    color:White;
    font-size: 60px;
    color:#8892B0;
    margin:70px 0;
}

@media only screen and  (min-width: 2560px) {
    .home {
        padding: 20vh 0;
    }
    .home > h1{
        font-size: 50px;
    }

    .home > h2{
        font-size: 120px;
    }

    .home > h3{
        font-size: 100px;
    }

    .home > a{
        margin-top: 100px;
        font-size: 70px;
    }
}

@media only screen and  (max-width: 1440px) {
    .home > h2,h3{
        font-size: 50px;
    }
}



@media only screen and  (max-width: 1024px) {
    .home{
        padding: 6vh 0;
    }

    .home > h1{
        font-size: 20px;
    }
    .home > h2{
        font-size: 50px;
    }
    .home > h3{
        font-size: 40px;
    }
}

@media only screen and  (max-width: 768px) {
    .home {
        padding: 4vh 0;
    }
}

@media only screen and  (max-width: 768px) {
    .home {
        padding: 5vh 0;
    }
    .home > h1{
        font-size: 20px;
    }
    .home > h2{
        font-size: 35px;
    }
    .home > h3{
        font-size: 30px;
    }
}


.home > a{
    color: #1CE783;
    background-color: transparent;
    border: 1px solid #1CE783;
    border-radius: 15px;
    padding: 1.25rem 1.75rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}